body {
	padding : 0px;
	margin : 0px;
	font-size : 20px;
}

body ul {
    		list-style : none;
    	}
    	ul > li {
    		height : 50px;
    		width : 300px;
    		background-color : #e35885;
    		margin-top : 5px;
    		border-radius : 5px;
    	}
    	
    	ul > li.selected {
    		background-color : #8ec16d;
    	}
    	
    	li > div {
    		line-height : 50px;
    		display : inline-block;
    	}
    	li > div:nth-child(1) {
    	    left : 10px;
    		position : relative;
    		width : 75%;
    	}
    	
    	li > div:nth-child(2) {
    		position : relative;
    		width : 20%;
    	}