/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    font-family: sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }