<header>
    <app-home-header class='homeMenu'></app-home-header><!-- TODO uiSetting ngIf로 home/dash 구분 -->
</header>
<main role="main">
    <app-content></app-content>
</main>
<footer>
    <app-home-footer></app-home-footer>
</footer>