/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body { height: 100%; width:100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
