<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script  src="../sample/jquery-3.1.1.min.js"></script>
    	<script src="../angular-1.3.15/angular.js"></script>
    	<script src="../angular-1.3.15/angular-route.js"></script>
    	<script src="taffydb-2.6.2.js"></script>
    	<script src="spa.js"></script>
    	<script src="spa.user.js"></script>
		<script src="spa.chat.js"></script>
		<script src="spa.avtr.js"></script>
    	<link rel="stylesheet" type="text/css" href="spa.css" />
    	<base href="/">
	</head>
	<body ng-app="spa" ng-init="init()">
		<div class="spa">
			<div class="spa-shall-head" ng-controller="spa-shell-login"><!-- ng-controller="spa-shall-head"  -->
				<div class="spa-shell-head-logo">
					<h1>SPA</h1>
					<p>javascript end to end</p>
				</div>
				<div class="spa-shell-head-acct" ng-click="loginLogoutProc()">{{msg}}</div>
				<!-- <div class="spa-shell-head-search"></div> -->
			</div>
			<div class="spa-shell-main" ng-controller="spa-shell-main">
				<div class="spa-shell-main-nav">
					<avtr-user ng-repeat="user in userList" class="spa-avtr-box" />
				</div>
				<div class="spa-shell-main-content"></div>
			</div>
			<div id="spa-shell-chat" ng-controller="spa-shell-chat" class="spa-shell-chat transformable" ng-class="{'default':heightAni.low, 'extended':heightAni.high}" ng-click="toggleSlider($event)">
				<div class="spa-chat-head">
					<div class="spa-chat-head-toggle" title="Click to close">{{sliderHead}}</div>
					<div class="spa-chat-head-title">{{chatTitle}}</div>
				</div>
				<div class="spa-chat-closer" ng-click="$event.stopPropagation();closeSlider()">x</div><!-- 하위 엘리먼트로의 이벤트 전파를 막을 경우 ng-click="$event.stopPropagation();" 사용 -->
				<div class="spa-chat-sizer" ng-click="$event.stopPropagation();">
					<div class="spa-chat-list">
						<div class="spa-chat-list-box">
							<div-user ng-repeat="user in userList" class="spa-chat-list-name" />
						</div>
					</div>
					<div class="spa-chat-msgs"></div>
					<div class="spa-chat-box">
						<input id="spa-chat-box-input" type="text" ng-model="chatMsg" ng-keydown="$event.which === 13 && writeChatByMe()">
						<div ng-click="writeChatByMe()">send</div>
					</div>
				</div>
			</div>
			<div class="spa-shell-foot"></div>
			<div class="spa-shell-modal"></div>
		</div>
	</body>
</html>
