 /** 재설정 시작 */ 
    * {
        margin  : 0;
        padding : 0;
        -webkit-box-sizing : border-box;
        -moz-box-sizing    : border-box;
        box-sizing         : border-box;
    }
    h1,h2,h3,h4,h5,h6,p { margin-bottom : 6pt; }
    ol,ul,dl { list-style-position : inside;}
/** 재설정 끝*/
 
 body {
	font: 12px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #888;
}

.spa {
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    min-height: 15em;
    min-width: 35em;
    overflow: hidden;
}

.spa-shell-head, .spa-shell-head-logo, .spa-shell-head-acct,
.spa-shell-head-search, .spa-shell-main, .spa-shell-main-nav,
.spa-shell-main-content, .spa-shell-foot, .spa-shell-chat,
.spa-shell-modal {
	position : absolute;
}
.spa-shell-head {
	top		:0;
    left		: 0;
    right		: 0;
    height	: 40px;
}
.spa-shell-head-logo {
	top        		: 4px;
    left       			: 8px;
    height     		: 32px;
    width      		: 128px;
}
.spa-shell-head-logo h1 {
    font: 800 22px/22px Arial, Helvetica, sans-serif;
    margin: 0;
}
.spa-shell-head-logo p {
    font: 800 10px/10px Arial, Helvetica, sans-serif;
    margin: 0;
}
.spa-shell-head-acct {
	top: 4px;
    right: 0;
    width: 210px;
    height: 32px;
    line-height: 32px;
    background: #888;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spa-shell-head-search {
	top        		: 4px;
    right      		: 64px;
    width      		: 248px;
    height     		: 32px;
    background	: blue;
}

.spa-shell-main {
	top    	: 40px;
    left   		: 0;
    bottom	: 40px;
    right  	: 0;
}
.spa-shell-main-content,
.spa-shell-main-nav {
	top 		: 0;
    bottom	: 0; 
}
.spa-shell-main-nav {
	width: 400px;
    background: #eee;
    z-index: 1;
}
.spa-x-closed .spa-shell-main-nav {
	width : 0; 
}

 .spa-shell-main-content {
	left: 400px;
    right: 0;
    background: #ddd;
}
.spa-x-closed .spa-shell-main-content {
	left : 0; 
}

.spa-shell-foot {
	bottom	: 0;
    left     	: 0;
    right    	: 0;
    height	: 40px;
}

.spa-shell-modal {
	margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 3px;
    z-index: 2;
    display: none;
}

/******************************************** chat-slider ********************************************/
.spa-shell-chat {
	bottom     		: 0;
    right      		: 0;
    width      		: 425px;
    height     		: 25px;
    cursor			: pointer;
    z-index    		: 1;
    text-align		: center;
    background : #fff;
    border-radius : 0.5em 0 0 0;
    border-style : solid;
    border-width : thin 0 0 thin;
    border-color : #888;
    box-shadow : 0 0 0.75em 0 #888;
}

.transformable {
    -webkit-transition: height 230ms linear;
    -moz-transition: height 230ms linear;
    -o-transition: height 230ms linear;
    -ms-transition: height 230ms linear;
    transition: height 230ms linear;
}

.default {
    height:25px;
}

.extended {
    height:240px;
}

.spa-chat-head, .spa-chat-closer {
    position : absolute;
    top : 0;
    height : 2em;
    line-height : 1.8em;
    border-bottom : thin solid #888;
    cursor : pointer;
    background : #888;
    color : white;
    font-family : arial, helvetica, sans-serif;
    font-weight : 800;
    text-align: center;
}

.spa-chat-head {
    left : 0;
	right : 2em;
    border-radius : 0.3em 0 0 0;
}

.spa-chat-closer {
    right : 0;
	width : 2em; 
}
.spa-chat-closer:hover {
    background : #800;
}	

.spa-chat-head-toggle {
    position : absolute;
    top : 0;
    left : 0;
    width : 2em;
	bottom : 0;
	border-radius : 0.3em 0 0 0;
}

.spa-chat-head-title {
    position : absolute;
    left : 50%;
    width : 16em;
    margin-left : -8em;
}

.spa-chat-sizer {
    position : absolute;
    height : 215px;
    top : 2em;
    left : 0;
    right : 0;
}

.spa-chat-list {
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    width : 10em;
}

.spa-chat-list-box {
	position : relative;
	height : 95%;
    left : 5px;
    top : 5px;
    overflow-y : auto;
    border-width : thin 0 thin thin;
    border-style : solid;
    border-color : #888;
    background-color : #888;
    color : #ddd;
    border-radius : 0.5em 0 0 0;
}

.spa-chat-list-name, .spa-chat-list-note {
    width : 100%;
    padding : 0.3em 0.5em;
}

.spa-chat-list-name {
    cursor : pointer;
    text-align : left;
}
    .spa-chat-list-name:hover {
        background-color : #aaa;
        color : #888;
    }
    .spa-chat-list-name.spa-x-select {
        background-color : #fff;
        color : #444;
    }

.spa-chat-msgs {
    position : absolute;
    top : 5px;
    left : 130px;
    bottom : 3em;
    padding : 0.5em;
    border : thin solid #888;
    overflow-x : hidden;
    overflow-y : scroll;
    width : 290px;
}

.spa-chat-msgs > div {
	text-align : left;
}

.spa-chat-box {
    position : absolute;
    height : 27px;
    left : 130px;
    bottom : 0.5em;
    border : thin solid #888;
    background : #888;
    width : 290px;
}

.spa-chat-box input[type=text] {
    float : left;
    width : 75%;
    height : 100%;
    padding : 0.5em;
    border : 0;
    background : #ddd;
    color : #404040;
}
.spa-chat-box input[type=text]:focus {
    background : #fff;
}

.spa-chat-box div {
    float : left;
    width : 25%;
    height : 2em;
    line-height : 1.9em;
    text-align : center;
    color : #fff;
    font-weight : 800;
    cursor : pointer;
}
.spa-chat-box div:hover {
   	background-color: #444;
   	color : #ff0;
}

.spa-chat-head:hover .spa-chat-head-toggle {
    background : #aaa;
}

.spa-chat-msg-log-alert {
    font-style : italic;
    background : #a88;
    color : #fff;
    padding-left: 5px;
}

.spa-chat-msg-log-me {
    font-weight : 800;
    color : #484;
}

.spa-chat-msg-log-msg {
    background-color : #eee;
}

.spa-avtr-box {
    position : absolute;
    width : 62px;
    padding : 0 4px;
    height : 40px;
    line-height : 32px;
    border : 4px solid #aaa;
    cursor : pointer;
    text-align : left;
    overflow : hidden;
    text-overflow : ellipsis;
    border-radius : 4px;
    text-align : center;
}
	.spa-avtr-box.spa-x-is-user {
	    border-color : #44f;
	}
	.spa-avtr-box.spa-x-is-chatee {
	    border-color : #080;
	}
	.spa-avtr-box.spa-x-is-drag {
	    cursor : move;
	    color : #fff;
	    background-color : #000 !important;
	    border-color : #800 !important;
	    z-index : 999;
	}