<h3>Mouse Coordinates</h3>
<h3>X: {{ posX }} Y: {{ posY }}</h3>
<hr />

<h2>Array from Observable</h2>
<div>{{result}}</div>
<hr />

<h2>Observable Events</h2>
<input type="text" placeholder="Enter github userid" [formControl]="searchInput" />
<pre>{{ githubUser | json }}</pre>