﻿<!DOCTYPE HTML>
<html ng-app="demo">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascirpt" />
		<link rel="stylesheet" type="text/css" href="./scripts/main.css" />
		<script type="text/javascript" charset="UTF-8" src="./scripts/angular.js"></script>
		<script type="text/javascript" charset="UTF-8" src="./scripts/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" charset="UTF-8" src="./scripts/common.js"></script>
	</head>
	<body ng-controller="serviceForm">
    <ul>
   		<li ng-repeat = "service in services" ng-click="select($index)" ng-class="{ selected: isSelected(service) }">
   			<div>{{service.name}}</div> 
   			<div>{{service.value}}</div>
   		</li>
	</ul>
    <span id="total"><b>total : {{total | currency}}</b></span><!-- getTotal() 이렇게 바로 함수를 불러도 됨 -->
  </body>
</html>