div.nav {
    width:100px;
    background-color: #cfcfcf;
    z-index: 2;
    height:100%;
    position: fixed;
    left : -95px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.6);
}

div.nav a.arrow {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    right: -15px;
    top: 30px;
    width: 15px;
    height: 35px;
    border-radius: 0 5px 5px 0;
    background-color: #cfcfcf;
}

.main {
    width:100%;
    background-color: #efefef;
    height:100%;
    display: inline-block;
}

.showNav{
    left : 0px !important;
    animation: showNav 600ms ease-in-out;
}

.hideNav{
    animation: hideNav 600ms ease-in-out;
}

@keyframes showNav {
    from {left:-95px;}
    to {left:0px;}
}

@keyframes hideNav {
    from {left:0px;}
    to {left:-95px;}
}