<div class='nav' (click)='toggle($event)'>
    <a class='arrow'></a>
</div>
<!--<div *ngIf='init' class='nav' [ngClass]="{'nav':true, 'showNav':show, 'hideNav':!show}" (mouseleave)='toggle()'>test</div>-->
<!--<div class='nav' class='nav' (mouseleave)='toggle()'>test</div>-->