<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="notes">
    <mat-list fxFlex="100%" fxFlex.gt-sm="20%">
      <mat-list-item *ngFor='let note of notes | async'>
        <a (click)="onSelectNote(note.id)">
          {{note.title}}
        </a>
      </mat-list-item>
    </mat-list>
    <mat-divider fxShow="false" fxShow.gt-sm [vertical]="true"></mat-divider>
    <mat-divider fxShow="true" fxShow.gt-sm="false" [vertical]="false"></mat-divider>
    <div fxFlex="100%" fxFlex.gt-sm="70%" *ngIf="!editNote" class="note-container">
      <h3>{{currentNote.title}}</h3>
      <p>
        {{currentNote.text}}
      </p>
      <div fxLayout="row" fxLayoutAlign="space-between center" >
        <button mat-raised-button color="primary" (click)="onEditNote()" *ngIf="noteSelected()">Edit</button>
        <button mat-raised-button color="warn" (click)="onDeleteNote()" *ngIf="noteSelected()">Delete</button>
        <button mat-raised-button color="primary" (click)="onNewNote()">New Note</button>
      </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="70%" *ngIf="editNote" class="form-container">
      <form [formGroup]="editNoteForm" (ngSubmit)="updateNote()">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Note text" formControlName="text"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Update</button>
      </form>
	</div>
</div>