<mat-toolbar color="primary" class="expanded-toolbar">
   <span>
      <button mat-button routerLink="/">{{title}}</button>
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
   </span>
   <button mat-raised-button color="basic" *ngIf="!isAuthenticated" (click)="openDialog()"> Login </button>
   <button mat-raised-button color="basic" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
   <button mat-button routerLink="/notes"><mat-icon>note</mat-icon></button>
</mat-toolbar>

<!-- 
<button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
<mat-menu #appMenu="matMenu">
   <button mat-menu-item [routerLink]=" ['/manager' ]"> 관리자 관리 </button>
   <button mat-menu-item [routerLink]=" ['/member' ]"> 회원 관리 </button>
   <button mat-menu-item [routerLink]=" ['/notice' ]"> 컨텐츠 관리 </button>
   <button mat-menu-item [routerLink]=" ['/faq' ]"> FAQ </button>
   <button mat-menu-item> 로그인 </button>
   <button mat-menu-item> 로그아웃 </button>
</mat-menu> -->

<router-outlet></router-outlet>
