@CHARSET "UTF-8";

#title{
	height : 70px;
	line-height : 70px;
	font-size : 30px;
	text-align : center;
	font-weight : bold;
}
#todosMvc{
	width : 600px;
	margin : auto;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);	
}

#todosMvc > header{ height : 50px; line-height : 50px; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(0, 0, 0, 0.1); }
#todosMvc > footer {
	height : 40px;
	line-height : 40px;
	font-size : 12px;
	position : relative;
}

#inputValue {
	height : 35px;
	margin-left : 10px;
	border : 0px solid red;
	font-size : 25px;
	width : 580px;
}
#inputValue::-webkit-input-placeholder { font-family :  Arial, Helvetica, sans-serif; font-style : italic; }

footer > span {
	margin-left : 15px;
	display : inline-block;
	width : 195px;
	color : gray;
}
footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
footer > a {
	text-decoration: none;
	color : gray;
	border : 1px solid #ffffff;
	border-radius: 5px;
	position: relative;
	height : 20px;
	line-height : 20px;
	margin-right : 15px;
	display: inline-block;
  	vertical-align: middle;
  	padding : 3px;
}
footer > a.selected { border-color: rgba(175, 47, 47, 0.8); }
footer > a:hover { border-color: rgba(175, 47, 47, 0.5); color : black; }
footer > a:nth-of-type(4) { left : 90px; }

ul {
	position : relative;
	list-style : none;
	padding : 0;
	margin : 0;
}

ul > li {
	height : 50px;
	width : 100%;
	border : 0px solid red;
	border-bottom : 1px solid #dddddd;
}

ul > li > span {
	color : #666666;
}

ul > li > span.del {
	text-decoration: line-through;
}

ul > li:hover  button{
	visibility: visible;
}

ul > li > * {
	line-height : 50px;
	vertical-align : middle;
	position : relative;
	display : inline-block;
}

ul > li >  input[type='checkbox']  {
	margin-left : 15px;
	width : 20px;
	height : 20px;
}

ul > li > span {
	width : 542px;
	overflow : hidden;
}

ul > li > button {
	position : absolute;
	right : 14px;
	width : 30px;
	height : 30px;
	outline: none;
	font-size:30px;
	background : none;
	border : 0;
	visibility: hidden;
	color : #ababab;
}

ul > li > button:after {
    content: '×';
}

