<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script  src="../sample/jquery-3.1.1.min.js"></script>
    	<script src="../angular-1.3.15/angular.js"></script>
    	<script src="common.js"></script>
    	<link rel="stylesheet" type="text/css" href="common.css" />
	</head>
	<body ng-app="MyApp">
		<div id="title">Todos</div>
		<div id="todosMvc" ng-controller="todosMvc">
			<header>
				<input type="text" id="inputValue" placeholder="input value" ng-model="newItem" ng-keypress="addItem($event)" />
			</header>
			<section>
				<ul>
					<li ng-repeat = "item in items | filter:filterByStatus">
						<!-- <input type="checkbox" ng-checked="item.status === 'completed'" ng-click="changeStatus(item)" /> --><!-- item.status == 'completed'로 하면 안됨, === 연산자 사용하기 -->
						<input type="checkbox" ng-checked="item.status" ng-click="changeStatus(item)" />
		   				<span ng-class="{del:item.status}">{{item.title}}</span>
		   				<button ng-click="deleteItem(item, $index)"></button>
		   			</li>
		   		</ul>
		   	</section>
		   	<footer ng-init="selectedStatus = 'All'">
		   		<span>{{completedCount}} item left</span>
		   		<a href="#all" ng-click="filterByStatus=undefined;selectedStatus = 'All'" ng-class="{selected:(selectedStatus === 'All')}">All</a>
		   		<a href="#active" ng-click="filterByStatus={status:false};selectedStatus = 'Active'" ng-class="{selected:(selectedStatus === 'Active')}">Active</a>
		   		<a href="#completed" ng-click="filterByStatus={status:true};selectedStatus = 'Completed'"  ng-class="{selected:(selectedStatus === 'Completed')}">Completed</a>
		   		<a href="#" ng-click="clearAll();" ng-show="existCompletedItem()">Clear completed</a>
		   	</footer>
		</div>
	</body>
</html>

<!-- filterByStatus={status:[true, false]} -->