.banner {
    width : 250px;
}

.event {
    background-color: yellow;
}

.book {
    background-color: gray;
}

.wing {
    background-color: beige;
}

h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input.ng-dirty.ng-invalid {background-color: red}
