<!DOCTYPE html>
<html ng-app="appModule">  
<head>
	<script src="../angular-1.3.15/angular.js"></script>
	<script src="../sample/sample03.js"></script>
	<style>
		.table {
			border: 1px solid black;  
			text-align: center;  
			vertical-align: middle;  
			width: 400px;  
		}
		.table > .title {
			background-color: #F5AF64;  
			text-align: center;  
			color: black;  
			padding: .1em .3em;  
			cursor: pointer;  
		}
		.table > .body {
			background-color: #FFE4E1;  
			padding: .1em .3em;  
		}
	</style>
</head>
<body ng-controller='Ctrl'>
	{{result}}
	<br>
	{{name}}
	<br>
	<button ng-click="reverseNameFactory()">Reverse Name via Factory</button>
	<p>No filter: {{ greeting }}</p>
	<p>Reverse: {{ 'this is sky' | filterTest : true }}</p>
	<p>oddNumbers: {{ 4 | oddNumbers2 }}</p>
	<ul>
  		<li ng-repeat="number in myNumbers | filter:oddNumbers">{{ number }}</li>
	</ul>
</body>
</html>