<!DOCTYPE html>
<html ng-app="appModule">  
<head>
	<script src="../angular-1.3.15/angular.js"></script>
	<script src="../sample/sample04.js"></script>
	<style>
		
	</style>
</head>
<body>
	<div ng-controller='Ctrl'>
  		<p>{{ user.username }}</p>
  		<br>
  		<a href="" ng-click="showLink = !showLink">Toggle nav</a>
		<ul ng-show="showLink">
		    <li>Link 1</li>
		    <li>Link 2</li>
		    <li>Link 3</li>
		</ul>
		<p>Test 1: {{ main.test1.length > 0 && 'abcd' || 'No data' }}</p>
        <p>Test 2: {{ main.test2.length > 0 && main.test2 || 'No data' }}</p>
        <li ng-repeat="number in [1,2,3,4,5,6,7,8,9]">
            {{ number }}
		</li>
	</div>
	<br>
	<div ng-controller='EmailsCtrl'>
		<ul>
		  <li ng-repeat="message in emails.messages">
		  	<a href="" ng-click="deleteEmail($index)">Delete email</a>&nbsp;&nbsp;&nbsp;
		    <span>From: {{ message.from }}</span>&nbsp;&nbsp;
		    <span>Subject: {{ message.subject }}</span>&nbsp;&nbsp;
		    <span>{{ message.sent | date:'yyyy-MM-dd HH:mm:ss'}}</span>
		  </li>
		</ul>
	</div>
</body>
</html>