<!doctype html>  
<html ng-app="exampleDirective">  
  <head>
    <script src="../angular-1.3.15/angular.js"></script>
    <script src="sample10.js"></script>
  </head>
  <body>
    <div ng-controller="Ctrl">  
      <nextree-directive company-info={{name}}>
      {{locate}}
      </nextree-directive>
	</div>   
  </body>
</html>  