<!doctype html>  
<html ng-app="demo">  
  <head>
  	<meta name="viewport" content="width=device-width" />
  	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
  	<link rel="stylesheet" type="text/css" href="sample11.css" />
    <script  src="jquery-3.1.1.min.js"></script>
    <script src="../angular-1.3.15/angular.js"></script>
    <script src="sample11.js"></script>
  </head>
  <body ng-controller="dropdownDemo">
   		<span id="selected">Selected colour: <b style="color: {{colour.hex}}">{{colour.hex}}</b></span>
		<dropdown placeholder="Colour..." list="colours" property="name" selected="colour"></dropdown>
  </body>
</html>  