<!-- 
이 샘플은 div ng-app에 아무것도 지정안 하고 디렉티브로만 한 거
<!DOCTYPE html>
<html>
	<script src="../angular-1.3.15/angular.js"></script>
<body>
 
<div ng-app="">
     <p>Name: <input type="text" ng-model="name"></p>
     <p ng-bind="name"></p>
</div>
 
 !!!! 한 페이지에 ng-app는 1개만 존재해야 함, 처음 이외의 것은 무시함 !!!!
 
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
	<script src="../angular-1.3.15/angular.js"></script>
	<script src="../sample/sample01.js"></script>
</head>
<body ng-app="MyApp01">
	<div ng-controller="MainCtrl01">
		<p>Name: <input type="text" ng-model="name"></p>
	    <p>Input value : <span ng-bind="name" /></p>
	    <p>AngularJS Expressions  : {{name}}</p>
	    <p>First Name: <input type="text" ng-model="nameFirst" ng-keyup="onkeyUp()"></p>
		<p>Last Name: <input type="text" ng-model="nameLast" ng-keyup="onkeyUp()"></p>
		<p>Full Name: {{nameFirst + " " + nameLast}}</p>
		<a custom-button>Click me</a>
		<!-- <custom-button>Click me</custom-button>  restrict: 'E'  로 하기-->
		<!-- <a class="custom-button">Click me</a>  restrict: 'C'  로 하기-->
		<!-- directive: custom-button restrict: 'M' 으로 해도 동작 안함-->
	</div>
	<div ng-init="firstName='Chone'">
 		<p>The name is <span ng-bind="firstName"></span></p>
 		<p>My first expression: {{ 5 + 5 }}</p>
 	</div>
</body>
</html>