<div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
        <span ng-if="!isPlaceholder">{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-list">
        <div>
            <div ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }"> <!-- selected 값이 true (즉 isSelected(item)가 true) 일 때  css에 selected 가 추가됨 -->
                <span>{{property !== undefined ? item[property] : item}}</span>
                <i class="fa fa-check"></i>
            </div>
        </div>
    </div>
</div>