<!DOCTYPE html>  
<html ng-app="app">  
<head>  
    <script src="../angular-1.3.15/angular.js"></script>
</head>

<body ng-controller="MainCtrl">  
    이름 : 
    <input ng-model="name" /></br>
    업데이트 횟수 : {{updated}}
</body>

<script type="text/javascript">  
app = angular.module('app', []);

app.controller('MainCtrl', function($scope) {  
  $scope.name = "Nextree";

  $scope.updated = -1;

  //name이 변경되었을 경우 $watch를 통해 이벤트 조작
  $scope.$watch('name', function() {
    $scope.updated++;
  });
});
</script>

</html>  