<!doctype html>  
<html ng-app="demo">  
  <head>
  	<script  src="jquery-3.1.1.min.js"></script>
    <script src="../angular-1.3.15/angular.js"></script>
    <script src="sample13.js"></script>
    <style>
        body {
            padding : 30px 0px 0px 30px;
        }
    	input {
    		width : 500px;
    		height : 30px;
    	}
    	
    	body ul {
    	    position : absolute;
    		list-style : none;
    		padding-left : 0px;
    	}

    	ul > li {
    	    height : 62px;
    		width : 500px;
    		/* background-color : #e35885; */
    		margin-top : 5px;
    		border-bottom : 1px solid #ddd; 
    	}
    	
    	ul > li.nonMatch {
    		display : none; 
    	}
    	
    	ul > li > img {
    	    width : 60px;
    		height : auto;
    		float:left; 
    	}
    	
    	ul > li > p {
    	    margin-left: 75px;
    	    padding-top: 12px;
    	    left : 70px;
    	    height : 40px;
    	}

    </style>
  </head>
  <body ng-controller="serviceForm">
    <input type="text" placeholder="enter keyword" ng-model="searchString">
    <ul>
   		<li ng-repeat = "item in items | searchFor:searchString">
   			<img src="{{item.image}}" />
   			<p>{{item.title}}</p>
   		</li>
	</ul>
  </body>
</html>  