<!DOCTYPE html>
<html ng-app="appModule">  
<head>
	<script src="../angular-1.3.15/angular.js"></script>
	<script src="../sample/sample02.js"></script>
	<style>
		.table {
			border: 1px solid black;  
			text-align: center;  
			vertical-align: middle;  
			width: 400px;  
		}
		.table > .title {
			background-color: #F5AF64;  
			text-align: center;  
			color: black;  
			padding: .1em .3em;  
			cursor: pointer;  
		}
		.table > .body {
			background-color: #FFE4E1;  
			padding: .1em .3em;  
		}
	</style>
</head>
<body ng-controller='Ctrl'>
    <my-title>
        <my-content class='table' ng-repeat='item in items' item-title='item.title' item-content="item.content">
            <!-- {{item.content}} -->
        </my-content>
	</my-title>
</body>
</html>