<!doctype html>  
<html ng-app="demo">  
  <head>
  	<script  src="jquery-3.1.1.min.js"></script>
    <script src="../angular-1.3.15/angular.js"></script>
    <script src="sample12.js"></script>
    <style>
    	body ul {
    		list-style : none;
    	}
    	ul > li {
    		height : 50px;
    		width : 300px;
    		background-color : #e35885;
    		margin-top : 5px;
    		border-radius : 5px;
    	}
    	
    	ul > li.selected {
    		background-color : #8ec16d;
    	}
    	
    	li > div {
    		line-height : 50px;
    		display : inline-block;
    	}
    	li > div:nth-child(1) {
    	    left : 10px;
    		position : relative;
    		width : 75%;
    	}
    	
    	li > div:nth-child(2) {
    		position : relative;
    		width : 20%;
    	}
    
    </style>
  </head>
  <body ng-controller="serviceForm">
    <ul>
   		<li ng-repeat = "service in services" ng-click="select($index)" ng-class="{ selected: isSelected(service) }">
   			<div>{{service.name}}</div> 
   			<div>{{service.value}}</div>
   		</li>
	</ul>
    <span id="total"><b>total : {{total | currency}}</b></span><!-- getTotal() 이렇게 바로 함수를 불러도 됨 -->
  </body>
</html>  