.top{
    position: relative;
    height:25px;
    line-height: 25px;
    width:100%;
    font-size: 14px;
    // left:5%;
    // text-align: right;
}
.mat-app-background{
    background-color: #afafaf;
}