<div class="top">
  로그인 | 회원가입
</div>
<div class="mat-app-background basic-container">
  <button mat-button [matMenuTriggerFor]="menu">회사소개</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/company'>회사개요</button>
    <button mat-menu-item>조직 및 임직원</button>
    <button mat-menu-item>언론보도</button>
    <button mat-menu-item>오시는 길</button>
  </mat-menu>
</div>